{% extends '../base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'form_app/css/applications.css' %}">
{% endblock  %}

{% block title %} <title>Applications </title> {% endblock  %}

{% block nav_link %}
    <a href= {% url 'index' %}> New Application</a>               
{% endblock  %}


{% block content %}
    <h2>ALL APPLICATIONS</h2>

    <div class="applications">
        {% if  not applications%}
        <h5 class="no-application">NO APPLICATION YET</h5>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Company</th>
                        <th>Address</th>
                        <th>Last Name</th>
                    </tr>
                </thead>

                <tbody>
                    {% for application in applications  %}
                        <tr class="single-application">
                            <td>{{application.title}}</td>
                            <td>{{application.company_name}}</td>
                            <td>{{application.address}}</td>
                            <td>{{application.surname}}</td> 
                            <td>
                                <a href={% url 'delete_application' application.id%}>
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>  
                        </tr>
                    {% endfor %}     
                </tbody>
            </table> 
        {% endif %}   
    </div>
{% endblock  %}