body {
    background-color: #3489EF;
    margin: 0;
    padding: 0;
}

body>div {
    padding: 0px 20%;
}

form {
    padding: 30px 40px;
    display: block;
    margin: 20px auto;
    border: 2px solid transparent;
    border-radius: 30px;
}

form h1 {
    text-align: center;
    font-size: 30px;
    color: #b3cbe9
}

form input {
    margin-top: 40px;
    padding: 10px 20px !important;
}

[type="submit"] {
    display: block;
    margin: 40px auto;
    background-color: #3489EF;
    color: white;
    border-radius: 30px;
    outline: none;
    border: none;
    transition: 1s all;
}

[type="submit"]:hover {
    background-color: white;
    color: #3489EF;
}

.error {
    position: relative;
    top: 5px;
    font-weight: 600;
    font-style: italic;
    color: red;
    font-size: 15px;
}