{% load static %}
{% extends "./base.html" %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock  %}
{% block content %}
    <form action="" method="POST" id="customerForm">
        {% csrf_token %}
        <input type="text" placeholder="title" name="title">
        <input type="text" placeholder="First Name" name="firstname">
        <input type="text" placeholder="Surname" name="surname">
        <input type="date" name="d_o_b" required>
        <span id="age-error"></span>
        <input type="text" placeholder="Address" name="address">
        <input type="tel" placeholder="Telephone No." pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="telephone">
        <input type="text" placeholder="Bidding Settings" name="bd-settings">
        <span id="bd-error"></span>
        <input type="number" placeholder="Google Ads Account ID"  name="google_id" required>

        <input type="submit" value="Submit">

    </form>

{% endblock  %}
    
